.sidebar {
  @apply max-w-[420px] bg-white h-full min-h-screen max-h-screen overflow-y-auto;

  &__header {
    @apply sticky top-0 z-10 bg-white p-5 flex flex-col gap-5;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #bbbbbb;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb;
  }
}
